In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv('cybercoder.csv')

In [45]:
df = df.drop('Unnamed: 0', 1)

In [46]:
n,m = df.shape
print(n,m)

525 5

In [47]:
df.columns = ['Title', 'Location', 'Salary', 'Description', 'Skills']

In [48]:
df.head()

,Title,Location,Salary,Description,Skills
0,Data Scientist,"Santa Monica, CA","['100', '140']",We are a stealth automotive financial technolo...,Preferred Skills ...
1,Data Scientist,"New York City, NY","['150', '250']",If you are a Data Scientist with an interest i...,Preferred Skills ...
2,Data Scientist,"San Jose, CA",[],"San Jose, CA, US- RELOCATION INCLUDED! **Your ...",Preferred Skills ...
3,Data Scientist,"San Jose, CA",[],"San Jose, CA, US- RELOCATION INCLUDED! **Your ...",Preferred Skills ...
4,Data Scientist,"New York City, NY","['120', '175']",If you are a Data Scientist with SQL and Model...,Preferred Skills ...

In [49]:
def descrip_clean(colname):
    lists = ['*','\r','\n','Applicants must be authorized to work in the U.S.']
    for i in range(n):
        for j in lists:
            df[colname][i] = df[colname][i].replace(j,'')
    return df[colname]

In [50]:
def skills_clean(colname):
    for i in range(n):
        df[colname][i] = df[colname][i].replace('Preferred Skills','')
        df[colname][i] = df[colname][i].replace('     ','')
        df[colname][i] = df[colname][i].split('  ')
        length = len(df[colname][i])
        df[colname][i] = ' ,'.join(df[colname][i][2:length-3])
    return df[colname]

In [51]:
df['Description'] = descrip_clean('Description')
df['Skills'] = skills_clean('Skills')

Deleste duplicated data.

In [52]:
for i in range(0,n-3):
    for j in range(i+1,n-2):
        if df['Description'][i] == df['Description'][j]:
            df['Description'][j] =''

In [53]:
df = df[df['Description']!='']

In [54]:
n,m = df.shape
print(n,m)

453 5

In [55]:
df = df.drop(df.index[[2]])
df = df.reset_index(drop=True)
df.head()

,Title,Location,Salary,Description,Skills
0,Data Scientist,"Santa Monica, CA","['100', '140']",We are a stealth automotive financial technolo...,"Machine Learning , Python"
1,Data Scientist,"New York City, NY","['150', '250']",If you are a Data Scientist with an interest i...,"Data Science , Machine Learning , Python"
2,Data Scientist,"San Jose, CA",[],"San Jose, CA, US- RELOCATION INCLUDED! Your ap...","Data Science , Applied Research , Hadoop/MapRe..."
3,Data Scientist,"New York City, NY","['120', '175']",If you are a Data Scientist with SQL and Model...,"SQL , Cloud-based environment , Data Mining"
4,Data Scientist,"San Francisco, CA","['110', '175']",If you are a Data Scientist with 4+ years data...,"Data Science , Machine Learning , R , Python ,..."

In [56]:
df['KeyWord'] = ['Data_Scientist'] * 83 + ['Data_Analyst'] * 47 + ['Data_Engineer']*322

In [59]:
df = df[['KeyWord','Title', 'Location', 'Salary','Description']]

In [60]:
df.to_csv('cybercoder_final.csv',index=False)