In [1]:
import os
import pickle
import pandas as pd

wd2 = "/Users/tmm/Documents/GitHub/STA160-Project/STA160-Jobs-Market-Project/Working/data"
os.chdir(wd2)

jobs_scrub_in = open('raw_jobs_data.pickle', 'rb')
jobs_scrub = pickle.load(jobs_scrub_in)


jobs_scrub.columns = ['Search','Title','Description', 'Skills', 'Location', 'Latitude', 'Longitude', 'Salary', 'URL']

wd3 = "/Users/tmm/Documents/GitHub/STA160-Project/STA160-Jobs-Market-Project/Working/data_wrangling"
os.chdir(wd3)

In [2]:
def skills_clean(jobs_scrub, field):
    """
    (Purpose)
    Cleans up the skills for each listing. The raw data has 'Preferred Skills', '\r', and \n'
    that need to be removed in order to have a cleaner format. 
    
    (Arguments)
    field : Skills
    
    (Returns)
    skills : list of scrubbed skills
    
    """
    nrows, ncols = jobs_scrub.shape
    
    removals1 = ['Preferred Skills', '\r', '\n']
    for i in range(nrows):
        for j in removals1:
            holder1 = jobs_scrub[field][i].replace(j,'')
            jobs_scrub.loc[i,field] = holder1
        #jobs_scrub.loc[i,field] = jobs_scrub.loc[i,field].split('  ')
    
    skills_split = lambda jobs_scrub : jobs_scrub[field].split('  ')
    jobs_scrub[field] = jobs_scrub.apply(skills_split, axis = 1)
    
    none_removal = lambda jobs_scrub : list(filter(None, jobs_scrub[field]))
    jobs_scrub[field] = jobs_scrub.apply(none_removal, axis = 1)
    
    jobs_scrub[field] = jobs_scrub[field].apply(lambda jobs_scrub: ', '.join(map(str, jobs_scrub)))
    
    return jobs_scrub[field]

In [3]:
def description_scrub(jobs_scrub, field):
    """
    (Purpose)
    Cleans up the description for each listing. The raw data has '*', '\r', \n', and 
    'Applicants must be authorized to work in the U.S.' that need to be removed in order 
    to have a cleaner format. 
    
    (Arguments)
    field : Description
        
    (Returns)
    description : list of scrubbed descriptions
    
    """
    nrows, ncols = jobs_scrub.shape
    
    removals = ['*','\r','\n','Applicants must be authorized to work in the U.S.']
    for i in range(nrows):
        for j in removals:
            holder = jobs_scrub[field][i].replace(j,'')
            jobs_scrub.loc[i,field] = holder
    return jobs_scrub[field]

In [4]:
def location_clean(jobs_scrub, field):
    """
    (Purpose)
    Seperates the locations for each listing into city and states, which is a cleaner format for
    conducting analysis later on. 
    
    (Arguments)
    field : Location
    
    (Return)
    city : list of cities for job listings
    state : list of state for job listings
    
    """
    nrows, ncols = jobs_scrub.shape
    cities = []
    states = []
    for i in range(nrows):
        location_split = jobs_scrub[field][i].split(', ')
        cities.append(location_split[0])
        states.append(location_split[1])
    return cities, states

In [5]:
def salary_clean(jobs_scrub, field):
    """
    (Purpose)
    Cleans up the salary portion for each listing if there is data present. Seperates the salary
    estimates into a minimum and maximum salary estimate. Also, the format is converted into thousands
    and numeric. 
    
    (Arguments)
    field : Salary
    
    (Return)
    min_salary : list of minimum salary estimates
    max_salary : list of maximum salary estimates
    
    """
    nrows, ncols = jobs_scrub.shape
    min_salary = []
    max_salary = []
    mean_salary = []

        
    for i in range(nrows):
        for j in range(len(jobs_scrub[field][i])):
            if len(jobs_scrub[field][i][j]) >= 2:
                jobs_scrub[field][i][j] = jobs_scrub[field][i][j] + '000'
                jobs_scrub[field][i][j] = int(jobs_scrub[field][i][j])
    
    for i in range(nrows):
        if len(jobs_scrub[field][i]) == 0:
            jobs_scrub[field][i].append(0)
            jobs_scrub[field][i].append(0)
    
    for i in range(nrows):
        min_salary.append(jobs_scrub[field][i][0])
        max_salary.append(jobs_scrub[field][i][1])
        mean_salary.append((jobs_scrub[field][i][0] + jobs_scrub[field][i][1]) / 2)
        
    for i in range(nrows):
        if min_salary[i] == 0:
            min_salary[i] = 'Unknown'
        if max_salary[i] == 0:
            max_salary[i] = 'Unknown'
        if mean_salary[i] ==0:
            mean_salary[i] = 'Unknown'
            
            
    return min_salary, max_salary, mean_salary

In [6]:
description_list = description_scrub(jobs_scrub, 'Description')
skills_list = skills_clean(jobs_scrub, 'Skills')
locations_list = location_clean(jobs_scrub, 'Location')
wage_list = salary_clean(jobs_scrub, 'Salary')

jobs_scrub['Description'] = description_list
jobs_scrub['Skills'] = skills_list
jobs_scrub['Cities'] = locations_list[0]
jobs_scrub['States'] = locations_list[1]
jobs_scrub['Min_Salary'] = wage_list[0]
jobs_scrub['Max_Salary'] = wage_list[1]
jobs_scrub['Mean_Salary'] = wage_list[2]
jobs_scrub = jobs_scrub[jobs_scrub['Description'] != '']

jobs_scrub = jobs_scrub[['Search', 
                         'Title',
                         'Description',
                         'Skills',
                         'Location',
                         'Cities', 
                         'States', 
                         'Latitude', 
                         'Longitude', 
                         'Min_Salary', 
                         'Max_Salary', 
                         'Mean_Salary', 
                         'URL']]

In [7]:
jobs_scrub

,Search,Title,Description,Skills,Location,Cities,States,Latitude,Longitude,Min_Salary,Max_Salary,Mean_Salary,URL
0,Data Scientist,Data Scientist,Are you a Data Scientist who has machine learn...,"Statistics, Machine Learning, Applied Mathematics","Los Angeles, CA",Los Angeles,CA,34.052234,-118.243685,100000,200000,150000,https://www.cybercoders.com/data-scientist-job...
1,Data Scientist,Data Scientist,If you are a Data Scientist with 4+ years data...,"Data Science, Machine Learning, R, Python, SQL...","San Francisco, CA",San Francisco,CA,37.774929,-122.419415,110000,175000,142500,https://www.cybercoders.com/data-scientist-job...
2,Data Scientist,Data Scientist,"If you are a Data Scientist with experience, p...","Statistics, Mathematics, Computer Science, Mac...","Woodland Hills, CA",Woodland Hills,CA,34.165357,-118.608975,Unknown,Unknown,Unknown,https://www.cybercoders.com/data-scientist-job...
3,Data Scientist,Data Scientist,If you are a Data Scientist who enjoys buildin...,"Python, Java, SQL (BigQuery/Oracle and Hive), ...","Los Angeles, CA",Los Angeles,CA,34.052234,-118.243685,120000,160000,140000,https://www.cybercoders.com/data-scientist-job...
4,Data Scientist,Data Scientist,"If you are a Data Scientist with experience, p...","R Language, Python, Datasets, SQL Queries","Austin, TX",Austin,TX,30.267153,-97.743061,Unknown,Unknown,Unknown,https://www.cybercoders.com/data-scientist-job...
5,Data Scientist,Data Scientist,If you are a Data Scientist who has Python and...,"Full Stack, Cassandra, ElasticSearch, Solr, Da...","Cambridge, MA",Cambridge,MA,42.373616,-71.109733,110000,150000,130000,https://www.cybercoders.com/data-scientist-job...
6,Data Scientist,Data Scientist,"If you are a Data Scientist with experience, p...","Machine Learning, Tensorflow, Statistical/Mach...","Bethesda, MD",Bethesda,MD,38.984652,-77.094709,100000,120000,110000,https://www.cybercoders.com/data-scientist-job...
7,Data Scientist,Data Scientist,If you are a Data Scientist who enjoys develop...,"Python, Java, SQL (BigQuery/Oracle and Hive), ...","Los Angeles, CA",Los Angeles,CA,34.052234,-118.243685,120000,160000,140000,https://www.cybercoders.com/data-scientist-job...
8,Data Scientist,Data Scientist,"Data Scientist - data mining, data sets, stati...","Data Mining, data sets, Statistical Modeling, ...","Plymouth Meeting, PA",Plymouth Meeting,PA,40.102332,-75.274347,120000,160000,140000,https://www.cybercoders.com/data-scientist-job...
9,Data Scientist,Data Scientist,"Data Scientist - Machine Learning, Python, Tab...","Machine Learning, Python, Tableau, Hadoop, R, ...","Trenton, NJ",Trenton,NJ,40.220582,-74.759717,130000,150000,140000,https://www.cybercoders.com/data-scientist-job...
10,Data Scientist,Data Scientist,Data Scientist - SouthbayWe are creating a b2b...,"Data Science, Machine Learning, Python, scalab...","Campbell, CA",Campbell,CA,37.287165,-121.949957,Unknown,Unknown,Unknown,https://www.cybercoders.com/data-scientist-job...
11,Data Scientist,Data Scientist,"If you are a Data Scientist with experience, p...","Machine Learning, Hadoop, Data Mining, R, Python","San Francisco, CA",San Francisco,CA,37.774929,-122.419415,120000,175000,147500,https://www.cybercoders.com/data-scientist-job...
12,Data Scientist,Data Scientist,If you are a Data Scientist with 3+ years expe...,"econometric modeling, Statistical Modeling, Qu...","Pineville, NC",Pineville,NC,35.083201,-80.892296,Unknown,Unknown,Unknown,https://www.cybercoders.com/data-scientist-job...
13,Data Scientist,Data Scientist,If you are a Data Scientist with a track recor...,"Data Mining, SAS, Tableau, R, Python, SQL, Dat...","New York City, NY",New York City,NY,40.712775,-74.005973,100000,130000,115000,https://www.cybercoders.com/data-scientist-job...
14,Data Scientist,Data Scientist,"We are a rapidly growing, privately held compa...","Data Science Experience, numpy, Machine Learning","Calgary, AB",Calgary,AB,51.048615,-114.070846,Unknown,Unknown,Unknown,https://www.cybercoders.com/data-scientist-job...
15,Data Scientist,Data Scientist,"If you are a Data Scientist with experience, p...","Machine Learning, Python, R, SQL, Data Mining,...","Costa Mesa, CA",Costa Mesa,CA,33.641216,-117.918822,Unknown,Unknown,Unknown,https://www.cybercoders.com/data-scientist-job...
16,Data Scientist,Data Scientist,If you are a Data Scientist with a track recor...,"Data Mining, SAS, Tableau, R, Python, SQL, Dat...","New York City, NY",New York City,NY,40.712775,-74.005973,100000,140000,120000,https://www.cybercoders.com/data-scientist-job...
17,Data Scientist,Data Scientist,Based about 15 minutes outside of Boston(Newto...,"Machine Learning, Python, NLP Frameworks","Newton, MA",Newton,MA,42.337041,-71.209221,Unknown,Unknown,Unknown,https://www.cybercoders.com/data-scientist-job...
18,Data Scientist,Data Scientist,"Based in San Jose, CA and with teams internati...","Data Science, Machine Learning, Natural Langua...","San Jose, CA",San Jose,CA,37.338208,-121.886329,120000,160000,140000,https://www.cybercoders.com/data-scientist-job...
19,Data Scientist,Data Scientist,"If you are a Data Scientist with experience, p...","Machine Learning, Python, R, Data Mining, Data...","Grinnell, IA",Grinnell,IA,41.743409,-92.723246,70000,90000,80000,https://www.cybercoders.com/data-scientist-job...
20,Data Scientist,Lead Data Scientist,Are you a Lead Data Scientist who has machine ...,"Machine Learning, Python, Applied Mathematics","Los Angeles, CA",Los Angeles,CA,34.052234,-118.243685,150000,200000,175000,https://www.cybercoders.com/lead-data-scientis...
21,Data Scientist,Senior Data Scientist,If you are a Senior Data Scientist with strong...,"Java, Hadoop, Python, NoSQL, AWS, Machine Lear...","San Mateo, CA",San Mateo,CA,37.562992,-122.325525,175000,225000,200000,https://www.cybercoders.com/senior-data-scient...
22,Data Scientist,Senior Data Scientist,This is a very unique Data Science opportunity...,"Data Science, Python, scikit.learn, Virtual En...","San Francisco, CA",San Francisco,CA,37.774929,-122.419415,100000,160000,130000,https://www.cybercoders.com/senior-data-scient...
23,Data Scientist,Senior Data Scientist,This is a very unique Data Science opportunity...,"Data Science, Python, scikit.learn, Virtual En...","San Francisco, CA",San Francisco,CA,37.774929,-122.419415,100000,160000,130000,https://www.cybercoders.com/senior-data-scient...
24,Data Scientist,Senior Data Scientist,"San Jose, CA, US- RELOCATION INCLUDED! Your ap...","Data Science, Applied Research, Hadoop/MapRedu...","San Jose, CA",San Jose,CA,37.338208,-121.886329,Unknown,Unknown,Unknown,https://www.cybercoders.com/senior-data-scient...
25,Data Scientist,Sr. Data Scientist,"Located in beautiful Berkeley, CA, we have a p...","Python/R/Julia, Formulating metrics for optimi...","Berkeley, CA",Berkeley,CA,37.871593,-122.272747,Unknown,Unknown,Unknown,https://www.cybercoders.com/sr-data-scientist-...
26,Data Scientist,Senior Data Scientist,This is a very unique Data Science opportunity...,"Data Science, Python, scikit.learn, Virtual En...","San Francisco, CA",San Francisco,CA,37.774929,-122.419415,100000,160000,130000,https://www.cybercoders.com/senior-data-scient...
27,Data Scientist,Senior Data Scientist,Are you attracted to a role which is part teac...,"Data Science, Python, scikit.learn, Virtual En...","San Francisco, CA",San Francisco,CA,37.774929,-122.419415,100000,160000,130000,https://www.cybercoders.com/senior-data-scient...
28,Data Scientist,Senior Data Scientist,Are you attracted to a role which is part teac...,"Data Science, Python, scikit.learn, Bayesian I...","Chicago, IL",Chicago,IL,41.878114,-87.629798,100000,160000,130000,https://www.cybercoders.com/senior-data-scient...
29,Data Scientist,Data Scientist (Quantitative Finance),If you are a Data Scientist with experience in...,"Python, Machine Learning, neural networks, Ris...","New York City, NY",New York City,NY,40.712775,-74.005973,120000,250000,185000,https://www.cybercoders.com/data-scientist-qua...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Business Intelligence,Oracle Applications Developer,"If you are a Oracle Applications Developer, re...","Oracle, Oracle E-Business Suite, Oracle Forms,...","San Diego, CA",San Diego,CA,32.715738,-117.161084,Unknown,Unknown,Unknown,https://www.cybercoders.com/oracle-application...
490,Business Intelligence,Director of Analytics,If you are a Director of Analytics with experi...,"SQL, Python, R, Statistics, Analytics, E-Comme...","San Francisco, CA",San Francisco,CA,37.774929,-122.419415,140000,200000,170000,https://www.cybercoders.com/director-of-analyt...
491,Business Intelligence,Director of Delivery - Retail/E-Commerce,If you are a Director of Delivery - Retail/E-C...,"Delivery, Retail, E-Commerce, client-facing, D...","Milpitas, CA",Milpitas,CA,37.432334,-121.899574,175000,200000,187500,https://www.cybercoders.com/director-of-delive...
492,Business Intelligence,"Solutions Architect - Excel, SQL, Tableau",Keep in mind that if you fill out our 5 minute...,"Excel, Power BI, Tableau, .NET, Java, Pre-Sale...","Peoria, IL",Peoria,IL,40.693649,-89.588986,75000,85000,80000,https://www.cybercoders.com/solutions-architec...
493,Business Intelligence,JD Edwards EnterpriseOne Developer,If you are a JD Edwards EnterpriseOne Develope...,"JD Edwards Enterprise One, Sales and Distribut...","White Plains, NY",White Plains,NY,41.033986,-73.762910,Unknown,Unknown,Unknown,https://www.cybercoders.com/jd-edwards-enterpr...
494,Business Intelligence,Software Developer (SSIS/SSRS),If you are a Software Developer SSRS/SSIS with...,"ETL, SQL, C#, .NET, BI, T-SQL, Ssis, Ssrs, GIT...","Portland, ME",Portland,ME,43.659099,-70.256819,70000,90000,80000,https://www.cybercoders.com/software-developer...
495,Business Intelligence,Senior Product Marketing Manager,If you are a Senior Product Marketing Manager ...,"Product Marketing, Product Manager, Business i...","San Francisco, CA",San Francisco,CA,37.774929,-122.419415,140000,200000,170000,https://www.cybercoders.com/senior-product-mar...
496,Business Intelligence,Lead Solutions Architect ($100k-$150k),If you are a Solutions Architect with experien...,"Java, J2EE, Apache Storm, Kafka, ElasticSearch...","Houston, TX",Houston,TX,29.760427,-95.369803,100000,150000,125000,https://www.cybercoders.com/lead-solutions-arc...
497,Business Intelligence,Information Architect,If you are an Information Architect with exper...,"Information Management, Data Analysis, Busines...","Saint Louis, MO",Saint Louis,MO,38.627003,-90.199404,90000,130000,110000,https://www.cybercoders.com/information-archit...
498,Business Intelligence,JD Edwards EnterpriseOne Developer,If you are a JD Edwards EnterpriseOne Develope...,"JD Edwards Enterprise One, Sales and Distribut...","White Plains, NY",White Plains,NY,41.033986,-73.762910,Unknown,Unknown,Unknown,https://www.cybercoders.com/jd-edwards-enterpr...
499,Business Intelligence,Lead Solutions Architect,If you are a Solutions Architect with experien...,"Java, J2EE, Apache Storm, Kafka, ElasticSearch...","Missouri City, TX",Missouri City,TX,29.618567,-95.537722,100000,150000,125000,https://www.cybercoders.com/lead-solutions-arc...
500,Business Intelligence,JD Edwards EnterpriseOne Developer,If you are a JD Edwards EnterpriseOne Develope...,"JD Edwards Enterprise One, Sales and Distribut...","White Plains, NY",White Plains,NY,41.033986,-73.762910,Unknown,Unknown,Unknown,https://www.cybercoders.com/jd-edwards-enterpr...
501,Business Intelligence,Lead Solutions Architect ($140k),If you are a Solutions Architect with experien...,"Java, J2EE, Apache Storm, Kafka, ElasticSearch...","Katy, TX",Katy,TX,29.785785,-95.824396,100000,150000,125000,https://www.cybercoders.com/lead-solutions-arc...
502,Business Intelligence,Senior Product Manager,"Based in Austin, we are a revolutionary cognit...","Product Management, Enterprise B2B Platforms, ...","Austin, TX",Austin,TX,30.267153,-97.743061,Unknown,Unknown,Unknown,https://www.cybercoders.com/senior-product-man...
503,Business Intelligence,SharePoint Developer (Applications Management),We are a diversified media company owning publ...,"SharePoint, .NET, SDLC, Power BI, Microsoft Te...","South Bend, IN",South Bend,IN,41.676355,-86.251990,80000,100000,90000,https://www.cybercoders.com/sharepoint-develop...
504,Business Intelligence,Microsoft Developer,We are a diversified media company owning publ...,"SharePoint, .NET, SDLC, Power BI, Microsoft Te...","South Bend, IN",South Bend,IN,41.676355,-86.251990,80000,100000,90000,https://www.cybercoders.com/microsoft-develope...
505,Business Intelligence,JD Edwards Enterprise One 9.1 Specialist - Con...,If you are a JD Edwards Enterprise One 9.1 spe...,"JD Edwards Enterprise One 9.1, OneView, ASP.NE...","Torrington, CT",Torrington,CT,41.800305,-73.121172,110000,150000,130000,https://www.cybercoders.com/jd-edwards-enterpr...
506,Business Intelligence,Developer/Project Manager with SharePoint expe...,We are a diversified media company owning publ...,"SharePoint, .NET, Power BI, Microsoft Teams, M...","South Bend, IN",South Bend,IN,41.676355,-86.251990,80000,110000,95000,https://www.cybercoders.com/developer-project-...
507,Business Intelligence,Accounting Manager,Sick of working in the grind of public account...,"Managing Accountants, Advanced Excel Skills, R...","Irvine, CA",Irvine,CA,33.684567,-117.826505,Unknown,Unknown,Unknown,https://www.cybercoders.com/accounting-manager...
508,Business Intelligence,Financial Analyst,Job title: Financial AnalystLocation: 405 FW...,"Financial Analysis, Financial Modeling, Budget...","Santa Ana, CA",Santa Ana,CA,33.745472,-117.867653,70000,90000,80000,https://www.cybercoders.com/financial-analyst-...
509,Business Intelligence,Database Architect,If you are a Database Architect with experienc...,"SQL, Database Architect, MySQL","Redwood City, CA",Redwood City,CA,37.485215,-122.236355,Unknown,Unknown,Unknown,https://www.cybercoders.com/database-architect...
510,Business Intelligence,"Lead Java Engineer - SOA, Micro-Services","Located in beautiful Palo Alto, CA we are look...","SaaS, Service-Oriented Architecture, micro-ser...","Palo Alto, CA",Palo Alto,CA,37.441883,-122.143019,175000,200000,187500,https://www.cybercoders.com/lead-java-engineer...
511,Business Intelligence,"Sr Back-End Engineer - Java, SaaS","Located in beautiful Palo Alto, CA we are look...","Java, SaaS, JavaScript, HTML/CSS, Spring, Boot...","Palo Alto, CA",Palo Alto,CA,37.441883,-122.143019,150000,175000,162500,https://www.cybercoders.com/sr-back-end-engine...
512,Business Intelligence,"Lead Platform Engineer/Architect - SOA, Micro-...","Located in beautiful Palo Alto, CA we are look...","SaaS, Service-Oriented Architecture, micro-ser...","Palo Alto, CA",Palo Alto,CA,37.441883,-122.143019,175000,200000,187500,https://www.cybercoders.com/lead-platform-engi...
513,Business Intelligence,"Senior Full Stack Developer - ASP.NET MVC, C#",Are you a Senior Fullstack .NET Developer that...,"ASP.NET MVC, C#, JavaScript, WCF, RESTful API's","Santa Monica, CA",Santa Monica,CA,34.019454,-118.491191,110000,160000,135000,https://www.cybercoders.com/senior-full-stack-...
514,Business Intelligence,Machine Learning Evangelist - Ai,If you are a Machine Learning Evangelist with ...,"AI, Marketing, Strategic Partnerships, Busines...","San Mateo, CA",San Mateo,CA,37.562992,-122.325525,200000,250000,225000,https://www.cybercoders.com/machine-learning-e...
515,Business Intelligence,Director of Market Development - Ai,If you are a Machine Learning Evangelist with ...,"AI, Marketing, Strategic Partnerships, Busines...","San Mateo, CA",San Mateo,CA,37.562992,-122.325525,200000,250000,225000,https://www.cybercoders.com/director-of-market...
516,Business Intelligence,Ai Software Executive - Evangelist,If you are a Ai Software Executive/ Evangelist...,"AI, Marketing, Strategic Partnerships, Busines...","San Mateo, CA",San Mateo,CA,37.562992,-122.325525,200000,250000,225000,https://www.cybercoders.com/ai-software-execut...
517,Business Intelligence,Senior Product Marketing Manager,If you are a Product Marketing Manager with en...,"Product Marketing, Enterprise Software, RPA Ro...","Irvine, CA",Irvine,CA,33.684567,-117.826505,120000,140000,130000,https://www.cybercoders.com/senior-product-mar...
518,Business Intelligence,Sales Representative - Software / Mobile Solut...,If you are a Software Sales Representative who...,"Sales Representative, Business Development, So...","New York City, NY",New York City,NY,40.712775,-74.005973,60000,160000,110000,https://www.cybercoders.com/sales-representati...

In [8]:
# copy cleaned up jobs_data
master_data = jobs_scrub.copy()

# dataframe for data scientist
data_scientist_df = master_data.copy()
data_scientist_df = data_scientist_df[data_scientist_df['Search'].str.contains('Data Scientist')]
data_scientist_df = data_scientist_df.reset_index(drop = True)

# dataframe for data engineer
data_engineer_df = master_data.copy()
data_engineer_df = data_engineer_df[data_engineer_df['Search'].str.contains('Data Engineer')]
data_engineer_df = data_engineer_df.reset_index(drop = True)

# dataframe for data analyst
data_analyst_df = master_data.copy()
data_analyst_df = data_analyst_df[data_analyst_df['Search'].str.contains('Data Analyst')]
data_analyst_df = data_analyst_df.reset_index(drop = True)

# dataframe for business intelligence
business_intelligence_df = master_data.copy()
business_intelligence_df = business_intelligence_df[business_intelligence_df['Search'].str.contains('Business Intelligence')]
business_intelligence_df = business_intelligence_df.reset_index(drop = True)

In [10]:
w4 = '/Users/tmm/Documents/GitHub/STA160-Project/STA160-Jobs-Market-Project/Working/data'
os.chdir(w4)

master_data.to_csv('jobs_data.csv',index = False)
data_scientist_df.to_csv('data_scientist_data.csv', index = False)
data_engineer_df.to_csv('data_engineer_data.csv', index = False)
data_analyst_df.to_csv('data_analyst_data.csv', index = False)
business_intelligence_df.to_csv('BI_data.csv', index = False)

master_data_out = open('jobs_data.pickle', 'wb')
pickle.dump(master_data, master_data_out)
master_data_out.close()

data_scientist_out = open('data_scientist_data.pickle', 'wb')
pickle.dump(data_scientist_df, data_scientist_out)
data_scientist_out.close()

data_engineer_out = open('data_engineer_data.pickle', 'wb')
pickle.dump(data_engineer_df, data_engineer_out)
data_engineer_out.close()

data_analyst_out = open('data_analyst_data.pickle', 'wb')
pickle.dump(data_analyst_df, data_analyst_out)
data_analyst_out.close()

BI_out = open('BI_data.pickle', 'wb')
pickle.dump(business_intelligence_df, BI_out)
BI_out.close()